<!doctype HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/404.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <title>QR Adventure</title>
</head>

<!-- ε＝（ﾉﾟдﾟ）ﾉ -->
<!-- ε＝┏（* ﾟдﾟ）┛ -->
<!-- ε＝ᕕ（* ﾟдﾟ）ᕗ -->

<body>
    <div class="container-out">
        <div class="container-in">
            <div class="emoticon run">
                    ε＝┏（ﾟдﾟ）┛
            </div>
            <br/>
            <div class="sorry">
                거기, 당신! <br/>
                당신이 풀어야할 문제는 이곳이 아닙니다. <br/>
                <%= qr%>번문제 로 이동하세요!
            </div>
        </div>
</body>
</html>