<!doctype HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/SignUp.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <title>QR Adventure</title>
</head>
<body>
<div class="container-out">
    <div class="container-in">
        <div id="title" class="bar">
            <div class="container-out">
                <div class="container-in">
                    문제기입
                </div>
            </div>
        </div>
        <form action="/InsertP" method="post">
            <div id="bar-1" class="bar">
                <div class="container-out">
                    <div class="container-in">
                        <input type="text" placeholder=" 문제내용" name="string" minlength="2"/>
                    </div>
                </div>
            </div>
            <div id="bar-2" class="bar">
                <div class="container-out">
                    <div class="container-in">
                        <input type="number" placeholder=" 문제번호" name="pnumber" minlength="5" maxlength="5"/>
                    </div>
                </div>
            </div>
            <div id="bar-3" class="bar">
                <div class="container-out">
                    <div class="container-in">
                        <input type="text" placeholder=" 답" name="answer" maxlength="20"/>
                    </div>
                </div>
            </div>
            <div id="bar-4" class="bar">
                <div class="container-out">
                    <div class="container-in">
                        <input class="button" type="submit" value="확인"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>