<!doctype HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/sangpum.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <title>QR Adventure</title>
</head>

<!-- ( יםי )!! -->

<body>
    <div class="pyro">
        <div class="after"></div>
        <div class="before"></div>
    </div>
    <div class="container-out">
        <div class="container-in">
                <div id="bar-animation" class="bar border">
                        <div class="container-out">
                            <div class="container-in">
                                <div class="p">
                                    <span class="big-font">대단하군요! ( יםי )!!</span> <br/><br/>
                                    당신은 충분한 양의 문제를 해결했습니다. <br/>
                                    <b>1-11반</b>에서 상품을 받아가십시오! <br/>
                                    마지막 키워드는'G' 입니다.
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</body>
</html>