<!doctype HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/answer.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <title>QR Adventure</title>
</head>

<body>
    <div class="container-out">
        <div class="container-in">
            <div class="sigong">
                <div class="sigong_detail1"></div>
                <div class="sigong_detail2"></div>
            </div>
        </div>
    </div>
    <div class="container-out answer-container">
        <div class="container-in">
             <div class="answer">오답!</div>
             <div class="answer">뒤로가기를 눌러 다시 도전해주세요</div>
    </div>
</body>
</html>